<h1> hello 1 alinfo9 </h1>
<hr>

{{klass}}
<hr>
<input type="submit" value="save" (click)="showMsg()">
<hr>
<div [style.backgroundColor]="kolor">
    my div
</div>
<hr>
<input type="submit" (click)="changeColor()">
<input type="text" [(ngModel)]="kolor">
<hr>
<h1>directive</h1>


<div *ngFor="let p of listProdcut">
    <span *ngIf="p.quantity!==0">
        {{p.id}}
        {{p.title}}
        {{p.quantity}}
        {{p.price}}
        {{p.like}}
    </span>
</div>
<hr>
<h3>seance 01/04/2023</h3>
<div *ngFor="let p of listProdcut">

    {{p.id}}
    {{p.title}}
    {{p.quantity}}
    {{p.price}}
    {{p.like}}
    <input type="submit" value="buy" [disabled]="p.quantity==0">
    <!--
    <span *ngIf="p.quantity==0">
        <input type="submit" value="buy" disabled>
    </span>
    <span *ngIf="p.quantity!==0">
        <input type="submit" value="buy">
    </span>-->
</div>
<hr>
<div *ngFor="let p of listProdcut">
<div *ngIf="p.quantity==0">
    <span [style.backgroundColor]="'red'">
    {{p.id}}
    {{p.title}}
    {{p.quantity}}
    {{p.price}}
    {{p.like}}
    <input type="submit" value="buy" [disabled]="p.quantity==0">
</span>
</div>
<div *ngIf="p.quantity!==0">
    <span [style.backgroundColor]="'green'">
    {{p.id}}
    {{p.title}}
    {{p.quantity}}
    {{p.price}}
    {{p.like}}
    <input type="submit" value="buy" [disabled]="p.quantity==0">
</span>
</div>
</div>
<hr>
<input type="text" [(ngModel)]="search">

<div *ngFor="let p of listProdcut;let i=index">
    <div *ngIf="p.title==search ||search==''">
<div [ngStyle]="{'backgroundColor':p.quantity==0 ? 'red':'green'}">
    {{p.id}}
    {{p.title}}
    {{p.quantity}}
    {{p.price}}
    {{p.like}}
    <input type="submit" value="buy" [disabled]="p.quantity==0" (click)="decreaseQuantity(i)">
    <input type="submit" value="like"  (click)="like(i)">
</div>
</div>
</div>